<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Account/test/integration" />
        <option value="$PROJECT_DIR$/Account/test/unit" />
        <option value="$PROJECT_DIR$/Transaction/test/integration" />
        <option value="$PROJECT_DIR$/Transaction/test/unit" />
      </list>
    </option>
  </component>
</project>